<div class="row">
  <div class="input-field col s12">
    <%= f.label I18n.t('activerecord.attributes.comment.username') %>
    <%= f.text_field :username %>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <%= f.label I18n.t('activerecord.attributes.comment.body') %>
    <%= f.text_area :body %>
  </div>
</div>